* {
  font-family: "Courier New", Courier, monospace;
}

.navigationHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
  padding: 10px;
  background-color: tan;
  justify-content: space-between;
}

h1 {
  color: white;
}

footer {
  background-color: aqua;
}

.banner-capybara {
}

.banner-about-us {
}

.banner-book {
}
